.first-section h1{
    color:cornflowerblue;
}

p{
    color: rgb(73, 25, 73);
}

.first-title{
    color:rgb(88, 157, 206);
}

#my-link{
    color:black;
}

.gallery li{
    color:brown; 
}

.paragraph {
    
}